[access "refs/*"]
	owner = group GKE Storage
[access "refs/heads/*"]
	create = group GKE Storage
	forgeAuthor = group GKE Storage
	forgeCommitter = group GKE Storage
	forgeServerAsCommitter = group GKE Storage
	push = +force group GKE Storage
	pushMerge = group GKE Storage
	read = group GKE Storage
[access "refs/tags/*"]
	create = group GKE Storage
	createSignedTag = group GKE Storage
	createTag = group GKE Storage
	forgeAuthor = group GKE Storage
	forgeCommitter = group GKE Storage
	forgeServerAsCommitter = group GKE Storage
	push = group GKE Storage
